page-amis {
  * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  ion-content {
    margin: 0;
  }
  .bandeau {
    background-color: #39305c;
    color: white;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .bandeau img:nth-child(2) {
    width: 150px;
  }
  .fleche_retour {
    position: absolute;
    left: 10px;
    top: 8px;
    width: 30px;
    align-content: flex-start;
  }
  .page {
    margin: 0;
    width: 100%;
    padding: 0; //   border: solid red;
    background-color: white;
  }
  .main {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 90%; // border: solid green;
  }
  .onglets {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 40px;
    flex-wrap: wrap;
    height: 78px;
  }
  hr {
    border: solid 1px rgba(0, 0, 0, 0.15);
    width: 100%;
    align-self: center;
  }
  #lien1,
  #lien2 {
    width: 35px;
    height: 35px;
    cursor: pointer;
    margin: 20px;
    border-radius: 50%;
    border: solid 2px black;
    align-content: center;
    align-self: center;
  }
  ion-input {
    border: solid 1px rgba(57, 48, 92, 0.5);
  }
  .liste_potentiel_amis {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .ami {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    background-color: white;
    align-items: center;
    justify-content: flex-start;
  }
  button {
    background-color: white;
  }
  .ami button img {
    width: 30px;
  }
  .photo_profil {
    min-width: 40px;
    width: 40px;
    height: 40px;
    margin: 20px;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 50%;
    border: solid 2px black;
    align-content: center;
    align-self: center;
    background-color: #39305c;
  }
  .pseudo {
    color: #39305c;
    font-family: Arial, sans-serif;
    width: 70%;
    margin: 0;
    align-self: center;
    text-align: left;
  }
  #contenu2 h1 {
    color: #39305c;
    font-family: Arial, sans-serif;
  }
  .liste_amis {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .hidden {
    display: none
  }
  .selected {
    background-color: #39305c;
  }
}
